:root {
  --green: #38af90;
  --full-white: #fff;
  --white: #e5e5e5;
  --darkdark-gray: #383838;
  --dark-gray: #797979;
  --light-gray: #f0f0f0;
  --pink: #dd7e92;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

/*>>>>>>>>header<<<<<<<<*/

.nav-container {
  background-color: var(--green);
  height: 90px;
  width: 100%;
  margin-bottom: 2px;
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
}

.nav-main {
  height: 90px;
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-main .title {
  font-size: 18px;
  font-weight: 700;
  display: flex;
  margin-left: 25px;
}

.nav-main a {
  color: var(--full-white);
}

.nav-main .menu {
  display: flex;
  margin-left: 107px;
}

.menu-item {
  list-style-type: none;
  font-size: 14px;
}

.menu-item li {
  margin: 34px 10px;
}

.nav-main .img {
  margin: 14px 14px;
}

/*>>>>>>>>News<<<<<<<<*/

.container-news {
  background-color: var(--full-white);
  display: flex;
  flex-direction: column;
}

.container-news h2 {
  color: var(--dark-gray);
  font-size: 24px;
}

.container-title {
  margin: 40px 60px 8px 60px;
}

.container-content-news {
  background-color: var(--light-gray);
  margin: 0px 10px 28px 10px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container-content-news h3 {
  color: var(--green);
  font-size: 16px;
  font-weight: bold;
}

.container-content-news .summary {
  color: var(--dark-gray);
  font-size: 12px;
  font-weight: bold;
  border-bottom: solid 1px var(--green);
  margin-bottom: 3px;
}

.container-content-news .date {
  color: var(--green);
  font-size: 10px;
  margin-bottom: 10px;
}

.container-content-news .content {
  color: var(--dark-gray);
  font-size: 10px;
  font-weight: normal;
}

.container-content-news .read-more {
  color: var(--pink);
  font-size: 14px;
  font-weight: bold;
  margin: 10px 0px 0px 0px;
}

.container-news .button {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.container-news button {
  font-size: 18px;
  color: var(--full-white);
  background-color: var(--pink);
  border-radius: 8px;
  border: none;
  height: 67px;
  width: 244px;
}

/*>>>>>>>>games<<<<<<<<*/
.container-games {
  background-color: var(--light-gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 10px;
}

.games {
  color: var(--green);
  background-color: var(--light-gray);
  height: 110px;
  font-size: 24px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-content-games {
  width: 300px;
  background-color: var(--full-white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 27px;
  border-radius: 8px;
}

.container-content-games img {
  border-radius: 8px;
  width: 300px;
}

.container-content-games h3 {
  color: var(--dark-gray);
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-top: 27px;
}

.container-content-games2 {
  display: flex;
  justify-content: center;
}

.container-content-games2 .producer {
  font-size: 12px;
  color: var(--dark-gray);
  margin-top: 2px;
}

.container-content-games2 .de {
  color: var(--green);
  font-size: 14px;
  font-weight: bold;
  margin-right: 4px;
}

.container-content-games .grade {
  color: var(--green);
  font-size: 36px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin: 15px 0px;
}

/*>>>>>>>>subscription<<<<<<<<*/
.container-subscription {
  display: flex;
  flex-direction: column;
  padding: 40px 10px;
  align-items: center;
}

.container-subscription h2 {
  color: var(--dark-gray);
  font-size: 24px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.container-subs-content {
  background-color: var(--light-gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  border-radius: 8px;
  padding: 0px 10px 30px 10px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
  margin-bottom: 40px;
}

.container-input1 {
  display: flex;
  flex-direction: column;
}

.container-input1 .input-name {
  width: 280px;
  height: 50px;
  border: 1px solid var(--dark-gray);
  border-radius: 4px;
  margin: 50px 0px 20px 0px;
}

.container-input1 .input-email {
  width: 280px;
  height: 50px;
  border: 1px solid var(--dark-gray);
  border-radius: 4px;
  margin-bottom: 20px;
}

.container-plataform {
  display: flex;
  flex-direction: column;
}

.container-plataform .label-plataform {
  color: var(--dark-gray);
  font-size: 16px;
  margin-bottom: 8px;
}

.container-plataform .plataform1 {
  color: var(--dark-gray);
  font-size: 16px;
  margin-bottom: 8px;
}

.container-subs-content .news {
  color: var(--dark-gray);
  font-size: 16px;
  margin: 40px 0px 45px 0px;
}

.container-subs-content .submit {
  display: flex;
  flex-direction: column;
}

.submit .submit1 {
  background-color: var(--pink);
  font-size: 18px;
  font-weight: bold;
  color: var(--full-white);
  width: 244px;
  height: 67px;
  border-radius: 8px;
  border: none;
  margin-bottom: 20px;
}

.submit .submit2 {
  background-color: var(--full-white);
  font-size: 18px;
  font-weight: bold;
  color: var(--pink);
  width: 244px;
  height: 67px;
  border-radius: 8px;
  border: var(--pink) 2px solid;
  margin-bottom: 20px;
}

/*>>>>>>>>Footer<<<<<<<<*/
.container-footer {
  background-color: var(--darkdark-gray);
}

.container-footer2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 302px;
  background-color: var(--darkdark-gray);
  color: var(--full-white);
  justify-content: space-around;
  font-size: 14px;
}

.container-footer .container-redes {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.container-redes .rede1 {
  margin-bottom: 8px;
}

.container-direitos {
  display: flex;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  width: 250px;
  height: 50px;
}

.container-privacity {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*>>>>>>>>Media control<<<<<<<<<*/

@media (max-width: 960px) {
  .menu-item {
    display: none;
  }
}

@media (min-width: 768px) {
  .nav-main {
    max-width: 960px;
  }
  .menu-item {
    display: flex;
  }

  .container-news {
    display: flex;
    align-items: center;
  }

  .container-content-news {
    max-width: 990px;
    display: flex;
    flex-direction: column;
  }

  .container-content-news h3 {
    font-size: 24px;
  }

  .container-content-news .summary {
    font-size: 16px;
  }

  .container-games {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .container-content-games {
    margin-right: 30px;
  }

  .container-subs-content {
    width: 790px;
    height: 522px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 70px;
  }

  .container-subscription h2 {
    font-size: 36px;
  }

  .container-subs-content .submit {
    display: block;
    margin-left: 15px;
  }

  .submit .submit1 {
    margin-right: 40px;
  }

  .container-input1 .input-name {
    width: 642px;
    height: 50px;
    border: 1px solid var(--dark-gray);
    border-radius: 4px;
    margin: 50px 0px 20px 0px;
  }

  .container-input1 .input-email {
    width: 642px;
    height: 50px;
    border: 1px solid var(--dark-gray);
    border-radius: 4px;
    margin-bottom: 20px;
  }

  .container-footer2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 190px;
    font-size: 14px;
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
  }
}
